*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0; /* Optional: Add spacing between images */
}


img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio and cover the entire container */
    aspect-ratio: 1/1;
    object-position: center;
}

.blurred-img
{
    background-image: url('pic1-small.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.a
{
    background-image: url('pic1-small.jpg');
}

.b
{
    background-image: url('pic2-small.jpg');
}

.c
{
    background-image: url('pic3-small.jpg');
}

.d 
{
    background-image: url('pic4-small.jpg');
}

 .blurred-img > img /*( iska matlab bluured imagewaali class ka children img) */
{
    opacity: 0; /* we can also use display: none but it will give faded feel;*/
    transition: opacity 300ms ease-in-out;
}

.blurred-img.loaded > img /*( iska matlab bluured image and loaded waali class ka children img) */
{
    opacity: 1;
}