@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body
{
    height: 100vh;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.panel
{
    height: 500px;
    width: 100px;
    background-color: white;
    position: relative;
    border-radius: 50px;
    transition: width 1s ease;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 10px;
    color: white;
    bottom: 0;
}

.panel:hover
{
    width: 300px;
}

.p1
{
    background-image: url(pic1.jpg);
    background-size: cover;
    background-position: center;
}

.p2
{
    background-image: url(pic2.jpg);
    background-size: cover;
    background-position: center;
}

.p3
{
    background-image: url(pic3.jpg);
    background-size: cover;
    background-position: center;
}

.p4
{
    background-image: url(pic4.jpg);
    background-size: cover;
    background-position: center;
}